a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.main-flex {
    display: flex;
    flex-direction: column;
}

.navigation-flex {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 60%;
}

.nav-flex {
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.projects-flex {
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70%;
}

.skills-bio-flex {
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-evenly;

    width: 80%;
}

.footer-flex {
    display: flex;
    flex-direction: column;

    width: 40%;

    padding: 10px;

    position: relative;
    left: 30px;

    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.nav-flex-item {
    flex: 1;
}

.nav-flex-item h1 {
    background-color: #62527a;
    color: #edcfc4;
    border-radius: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.projects-flex-item {
    flex: 1;
}

.projects-flex-item h1 {
    border: 3px solid #dd73b5;
    background-color: #dd73b5;
    color: #10116b;
    border-radius: 20px;
    text-align: center;

    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.photo {
    width: 100%;
    max-width: 300px;
    height: 380px;

    border-radius: 20px;
}

.main-flex-item {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.skills-bio-item {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;

    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.footer-photo {
    width: 100%;
    max-width: 200px;
    height: 250px;
    border-radius: 20px;
}