body {
    background-color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.main-flex {
    display: flex;
    flex-direction: column;

    background-color: white;
}

.navigation-flex {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 60%;

    background-color: black;
}

.nav-flex {
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;

    background-color: cyan;
}

.projects-flex {
    display: flex;
    flex-direction: row;
    
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 60%;

    background-color: red;
}

.skills-bio-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-flex {
    display: flex;
    flex-direction: column-reverse;
}

.nav-flex-item {
    flex: 1;
}

.nav-flex-item h1 {
    background-color: #62527a;
    color: #edcfc4;
    border-radius: 20px;
    text-align: center;
}

.projects-flex-item {
    flex: 1;
}

.projects-flex-item h1 {
    text-align: center;
}

.photo {
    width: 100%;
    max-width: 300px;
    height: 380px;
}

.main-flex-item {
    display: flex;
    justify-content: center;
}